<div
	style="
		font-family: Sans-serif;
		background-color: rgb(248, 249, 250);
		padding: 18px;
		color: black;
	"
>
	<br />
	<h2 style="font-family: Sans-serif; color: black">About Us !</h2>
	<h2 style="font-family: Sans-serif; text-align: center">
		Welcome To <span id="W_Name1">AUS Archive</span>
	</h2>
	<p>
		<span id="W_Name2">AUS Archive</span> is the place to go to find papers related to
        your studies quickly. We have a wide range of papers from different
        courses and years. If you have a document that you want to be
        shared, you can upload it right away through the upload file page.
        We're always looking to expand our collection. If you have any
        questions or concerns, feel free to leave a suggestion. AUS Archive
        is here to help you with your studies.</span> 
	</p>
	<p>
		Your love and support matters a lot.
	</p>
	<p style="font-weight: bold; text-align: center">
		Thank you For Visiting Our Site<br /><br />
		<span
			style="
				color: blue;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
			"
			>Have a great day !</span
		>
	</p>
</div>
<br /><br />
