<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Contact Us</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
	</head>
	<body>
		<div class="wrapper">
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}" class="footer-btn">Home</a></li>
					<li><a href="{{ url_for('upload_file') }}" class="footer-btn">Upload File</a></li>
					<li><a href="{{ url_for('search') }}" class="footer-btn">Search Files</a></li>
				</ul>
			</nav>
			<div class="container">
				<h1>Contact Us</h1>
				<section class="contact">
					<h2>Wanna connect with us?</h2>
					<p>You can do so through the below mentioned links.</p>
					<div class="contact-info">
						<div class="contact-item">
							<img decoding="async" src="https://cdn-icons-png.flaticon.com/512/4213/4213968.png" alt="Email Icon" height="80" width="70" />
							<p>b00099009@aus.edu</p>
						</div>
						<div class="contact-item">
							<img decoding="async" src="https://cdn-icons-png.flaticon.com/512/0/191.png" alt="Phone Icon" height="80" width="70" />
							<p>+971-56-804-5455</p>
						</div>
					</div>
				</section>
				<section class="thank-you">
					<h3>Thank You!</h3>
					<p>We will get back to you soon...</p>
				</section>
			</div>
			<footer>
				<p>&copy; 2024 AUS Archive</p>
				<nav class="compact-nav">
					<ul>
						<li><a href="{{ url_for('contact') }}" class="footer-btn">Contact Us</a></li>
						<li><a href="{{ url_for('about') }}" class="footer-btn">About Us</a></li>
					</ul>
				</nav>
			</footer>
		</div>
	</body>
</html>
